.posts {
    display: grid;
    grid-gap: 100px;
}

.header {
    text-align: center;
    font-size: 50px;
    /* background-color: rgb(216, 91, 155); */
    grid-column: 1 / 4;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dis {
    grid-row: 2 / 3;
    position: absolute;
    margin-left: 50%;
    left: -200px;
    margin-top: 80px;
    grid-template-columns: repeat(4, minmax(56px, 80px));
    }

.post {
    width: 400px;
    height: 700px;
    background-color: rgb(254, 246, 236);
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.374);
    box-shadow: black 1px 1px;
    display: grid;
}

.posted{
    font-size: small;
    text-align: left;
    padding-left: 5px;
}

.user{
    text-align: left;
    font-size: medium;
    padding-left: 5px;
}

.image {
    width: 400px;
    height: 500px;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid black;

}

.comments{
    display: grid;
    text-align: left;
    font-size: xx-small;
    grid-gap: 5px;
    width: 99%;
    position: absolute;
    bottom: 40px;

}

.comment{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    width: inherit;
    color: white;
    border-color: grey;
}

.caption{
    text-align: left;
    font-size: medium;
    padding-left: 5px;
}

.likes {
    font-size: medium;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.commentButton{
    background-color: transparent;
    /* border-color: transparent; */
}

.commentSection{
    position: absolute;
    overflow: auto;
    height: 9%;
    width: 200%;
    border: 2px solid;
    margin-left: 1%;
    left: -200px;
    background-color: black;
    border-radius: 10px;
}
.commentSection::-webkit-scrollbar {
    display: none;
}

.comTitle{
    /* border: 2px solid black; */
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.commentText{
    text-align: left;

}

.commentInput{
    position: absolute;
    height: 30px;
    width: 700px;
    bottom: 0;
    background-color: black;
    border-width:0px;
    border:none;
    border-radius: 20px;
}

.inputButton{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 100px;
    background-color: black;
    color: rgb(39, 179, 244);
    font-weight: bold;
}

.input{
    display: grid;
}

.form{
    display: grid;
}


.formInput{
    height: 300px;
    width: 400px;
    display: grid;
    border: 2px solid;
    grid-column: 2 / 3;
    text-align: left;
    padding: 5px;
    background-color: white;
    border-color: rgba(128, 128, 128, 0.494);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.566) 3px 3px;
}

.formInput2{
    height: 600px;
    width: 400px;
    display: grid;
    border: 2px solid;
    grid-column: 2 / 3;
    text-align: left;
    padding: 5px;
    background-color: white;
    border-color: rgba(128, 128, 128, 0.494);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.566) 3px 3px;
}

.text{
    text-align: left;

}

.inputs{
    height: 40px;
    width: 100%;
    border-radius: 10px;
}

.logButton{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(210, 208, 208);
    border-color: transparent;
}