.posts {
    display: grid;
    grid-gap: 100px;
}

.header {
    text-align: center;
    font-size: 50px;
    /* background-color: rgb(216, 91, 155); */
    grid-column: 1 / 4;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dis {
    position: absolute;
    margin-left: 50%;
    left: -200px;
    margin-top: 80px;
    grid-gap: 250px;
    display: grid;
}

.post {
    width: 400px;
    height: 600px;
    background-color: rgb(254, 246, 236);
    border: 5px solid;
    border-color: rgb(0, 0, 0);
    /* box-shadow: black 1px 1px; */
    display: grid;
    border-radius: 7px;
}

.posted{
    font-size: small;
    text-align: left;
    padding-left: 5px;
}

.user{
    text-align: left;
    font-size: medium;
    padding-left: 5px;
}

.image {
    /* position: absolute; */
    top: 50px;
    width: 400px;
    height: 450px;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid black;
    border-top: 5px solid;
    border-bottom: 5px solid;
}

.heart { 
    position: relative; 
    border: 0;
    background-color: transparent;
} 

.comments{
    display: grid;
    text-align: left;
    font-size: xx-small;
    width: 99%;
    position: absolute;
    /* bottom: 40px; */
}

.comment{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    width: inherit;
    color: white;
    border-color: grey;
    display: grid;
    grid-row-gap: 5px;
}

.comUser{
    padding-top: 15px;
    padding-left: 5px;
    color: white;
    display: grid;
    grid-row-gap: 5px;
    font-size: medium;
}

.caption{
    text-align: left;
    font-size: medium;
    padding-left: 5px;
}

.likes {
    font-size: medium;
    text-align: left;
    padding-left: 0px;
    padding-right: 5px;
    /* position: absolute;
    padding-top:572px; */
}

.commentButton{
    background-color: transparent;
    border-color: transparent;
    /* position: absolute; */
    /* top: 0; */
}

.comOut{
    position: absolute;
    height: 550px;
    width: 400px;
    border-radius: 20px;
    background-color: black;
}

.commentSection{
    position: absolute;
    overflow: scroll;
    height: 500px;
    width: 400px;
    border: 2px solid;
    background-color: black;
    border-radius: 10px;
    /* margin-top: -150%; */
}
.commentSection::-webkit-scrollbar {
    display: none;
}

.comTitle{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    border-radius: 20px;
}

.X{
    position: absolute;
    right: 15px;
    top: 7px;
    background-color: transparent;
    color: white
}



.commentText{
    text-align: left;
}


.comBox{
    display: grid;
}
.commentInput{
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 70%;
    background-color: black;
    border-width:0px;
    border:none;
    border-radius: 20px;
    color: white;
    padding-left: 5px;
    margin-left: 1%;
    margin-bottom: 1%;
}

.inputButton{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 100px;
    background-color: black;
    color: rgb(39, 179, 244);
    font-weight: bold;
    border-radius: 20px;
    margin-right: 1%;
    margin-bottom: 2%;
}

.input{
    display: grid;
}

.form{
    display: grid;
}


.formInput{
    height: 300px;
    width: 400px;
    display: grid;
    border: 2px solid;
    grid-column: 2 / 3;
    text-align: left;
    padding: 5px;
    background-color: white;
    border-color: rgba(128, 128, 128, 0.494);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.566) 3px 3px;
}


.formInput2{
    height: 600px;
    width: 400px;
    display: grid;
    border: 2px solid;
    grid-column: 2 / 3;
    text-align: left;
    padding: 5px;
    background-color: white;
    border-color: rgba(128, 128, 128, 0.494);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.566) 3px 3px;
}

.formInput3{
    height: 600px;
    width: 400px;
    display: grid;
    border: 2px solid;
    grid-column: 2 / 3;
    text-align: left;
    padding: 5px;
    background-color: white;
    border-color: rgba(128, 128, 128, 0.494);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.566) 3px 3px;
}

.newPostImage{
    border: 5px solid;
    border-radius: 5px;
    margin-left: 20%;
    background-color: rgb(175, 175, 175);
}

.imgText{
    text-align: center;
    margin: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(101, 101, 101);
}

.text{
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inputs{
    height: 40px;
    width: 100%;
    border-radius: 10px;
    display: grid;
}

.logButton{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(210, 208, 208);
    border-color: transparent;
}

.site-title{
    /* background-color: aquamarine; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.site{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#navbar{
    /* background-color: aqua; */
    height: 60px;
    border-color: black;
    border:5px solid black;
    background-color: rgb(24, 22, 22);
}